@media screen and (max-width: 600px) {
  .Bio {
    width: 100%;
  }
}

.Bio {
  margin-right: 25%;
  margin-top: 8%;
  width: 100%;

  .Content {
    display: flex;

    text-align: left;
    margin: auto;
    flex-direction: column;

    margin: 1rem;
    padding: 1rem;
    width: 70%;
    margin-top: -2rem;
    margin-right: 25%;
  }

  img {
    border: 2px solid #293845;
    border-radius: 100%;
    width: 100%;
    margin-left: 0.75rem;
  }

  .Pic {
    width: 25%;
  }

  .ImgText {
    display: flex;
    justify-content: center;
    text-align: right;
    margin: auto;
    flex-direction: row;
  }

  .BioText {
    font-size: 1rem;
  }
}
