.Bio {
  margin-right: 25%;
  margin-top: 8%;
  width: 100%;

  @media screen and (max-width: 400px) {
    margin-top: 30%;
    font-size: 0.75rem;

    .PageName {
      margin-top: 7rem;
      margin-bottom: -0.75rem;
    }
  }

  @media screen and (max-width: 640px) {
    margin-top: 8%;
    font-size: 0.75rem;
    width: 100%;

    .PageName {
      margin-top: 7rem;
      margin-bottom: -0.75rem;
    }
  }

  @media screen and (max-width: 824px) {
    margin-top: 9%;
    font-size: 0.75rem;

    .PageName {
      margin-top: 8rem;
      margin-bottom: -0.75rem;
    }
  }

  @media screen and (max-width: 1024px) {
    margin-top: 8%;
    font-size: 0.75rem;

    .PageName {
      /* margin-top: 6.5rem; */
      margin-bottom: -0.75rem;
    }
  }

  @media screen and (min-height: 1023px) {
    margin-top: 8%;
    font-size: 0.75rem;

    .PageName {
      margin-top: 8rem;
      margin-bottom: -0.75rem;
    }
  }

  @media screen and (max-width: 360px) {
    margin-top: 10%;
    font-size: 0.65rem;

    .PageName {
      margin-top: 7rem;
      margin-bottom: -0.75rem;
    }
  }

  .Content {
    display: flex;

    text-align: left;
    margin: auto;
    flex-direction: column;

    margin: 1rem;
    padding: 1rem;
    width: 70%;
    margin-top: -2rem;
    margin-right: 25%;
  }

  img {
    border: 2px solid #293845;
    border-radius: 100%;
    width: 100%;
    margin-left: 0.75rem;
    margin-top: -2%;
  }

  .Pic {
    width: 25%;
  }

  .ImgText {
    display: flex;
    justify-content: center;
    text-align: right;
    margin: auto;
    flex-direction: row;
  }

  .BioText {
    margin-top: 7rem;
    font-size: 1.25rem;
  }

  @media screen and (max-width: 400px) {
    .Bio {
      margin-top: 10%;
    }
    .Content {
      width: 100%;
      margin-right: 0%;
      margin-top: 0rem;
    }
    .BioText {
      font-size: 0.9rem;
      margin-top: -1rem;
    }

    img {
      margin-top: 20%;
    }
  }

  @media screen and (max-width: 812px) {
    .Bio {
      margin-top: 10%;
    }
    .Content {
      width: 75%;
      margin-top: 1.5rem;
    }
    .BioText {
      font-size: 0.9rem;
      margin-top: -2rem;
    }
    img {
      width: 70%;
    }
  }
}
