.InstallationsList {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  flex-direction: column;
  border: 1px dashed #d3455b;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;

  @media screen and (max-width: 400px) {
    iframe {
      width: 10rem;
    }
  }

  @media screen and (max-width: 640px) {
    iframe {
      width: 16rem;
    }
  }

  @media screen and (max-width: 768px) {
    iframe {
      width: 18rem;
    }
  }

  .DateLocation {
    display: inline-block;
  }

  .Date {
    margin-top: -1rem;
  }

  .Location {
    margin-top: -1rem;
  }

  .Links {
    margin-top: -1rem;
  }

  .Video {
    margin-top: 0.5rem;
  }
}
