.InstallationsList {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  flex-direction: column;
  border: 1px dashed #d3455b;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;

  @media screen and (max-width: 400px) {
    iframe {
      width: 10rem;
    }
  }

  @media screen and (max-width: 640px) {
    iframe {
      width: 16rem;
    }
  }

  @media screen and (max-width: 768px) {
    iframe {
      width: 18rem;
    }
  }

  .ImageSlider + img {
    width: 50%;
  }

  .ImageSlider .btn {
    width: 10%;
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    z-index: 20;
  }

  .ImageSlider .btn:hover {
    background-color: black;
  }

  .Modal {
    position: absolute;
    z-index: 4;
    border: 1px dashed #d3455b;
    background-color: red;
  }

  .Modal .CloseButton {
    display: flex;
    justify-content: right;
    margin: auto;
  }

  .CloseButton button {
    outline: none;
    color: red;
  }

  .DateLocation {
    display: inline-block;
  }

  .Date {
    margin-top: -1rem;
  }

  .Location {
    margin-top: -1rem;
  }

  .Links {
    margin-top: -1rem;
  }

  .Video {
    margin-top: 0.5rem;
  }
}
