.Contact {
  margin-right: 25%;
  margin-top: 8%;
  width: 75%;

  .Content {
    border: 1px dashed #d3455b;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
  }

  .Links {
    display: flex;
    text-align: right;
    margin: auto;
    flex-direction: column;
  }
}
