.Sidebar {
  position: fixed;
  height: 100%;
  width: 20%;
  z-index: 1;
  right: 0;
  overflow-x: hidden;

  margin-right: 10px;

  hr {
    margin-top: -1rem;
    border-top: 1px dashed #d3455b;
    width: 70%;
    float: left;
  }

  ul {
    margin-top: -1rem;
    margin-left: -2.5rem;
  }

  li {
    list-style-type: none;
  }

  .Learn {
    margin-top: -1rem;
  }
}
