.MediaList {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  flex-direction: column;
  border: 1px dashed #d3455b;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
  width: 40%;

  iframe {
    width: 350px;
    height: 555px;
  }

  @media screen and (max-width: 400px) {
    width: 100%;
    iframe {
      width: 17rem;
      height: 17rem;
    }
  }

  @media screen and (max-width: 812px) {
    width: 100%;
    iframe {
      width: 17rem;
      height: 17rem;
    }
  }

  @media screen and (max-width: 824px) {
    width: 100%;
    iframe {
      width: 17rem;
      height: 17rem;
    }
  }

  @media screen and (max-width: 1024px) {
    width: 100%;
    iframe {
      width: 17rem;
      height: 17rem;
    }
  }

  .YearsActive {
    margin-top: -1rem;
  }

  .Members {
    margin-top: -1rem;
  }

  .MembersText {
    margin-top: -1rem;
  }

  .Links {
    margin-top: -1rem;
  }

  .Video {
    margin-top: 0.5rem;
  }
}
