.Media {
  margin-right: 25%;
  margin-top: 8%;
  width: 75%;

  .Content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .Links {
    display: flex;
    text-align: right;
    margin: auto;
    flex-direction: column;
  }

  .Bands {
    margin-left: 5%;
    margin-bottom: -1%;
  }
}
