.Media {
  margin-right: 25%;
  margin-top: 8%;
  width: 75%;

  @media screen and (max-width: 600px) {
    margin-top: 30%;
    margin-bottom: 20%;
    width: 100%;
    font-size: 0.75rem;

    .PageName {
      margin-top: 7rem;
      margin-bottom: -0.75rem;
    }
  }

  @media screen and (max-width: 640px) {
    margin-top: 8%;
    font-size: 0.75rem;

    .PageName {
      margin-top: 7rem;
      margin-bottom: -0.75rem;
    }
  }

  @media screen and (max-width: 824px) {
    margin-top: 9%;
    font-size: 0.75rem;

    .PageName {
      margin-top: 8rem;
      margin-bottom: -0.75rem;
    }
  }

  @media screen and (max-width: 1024px) {
    margin-top: 8%;
    font-size: 0.75rem;

    .PageName {
      margin-top: 6.5rem;
      margin-bottom: -0.75rem;
    }
  }

  @media screen and (min-height: 1023px) {
    margin-top: 8%;
    font-size: 0.75rem;

    .PageName {
      margin-top: 8rem;
      margin-bottom: -0.75rem;
    }
  }

  @media screen and (max-width: 360px) {
    margin-top: 10%;
    font-size: 0.75rem;

    .PageName {
      margin-top: 7rem;
      margin-bottom: -0.75rem;
    }
  }

  .Top {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 600px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .PlayerAndTitle {
    display: flex;
    text-align: left;
    margin: auto;
    flex-direction: column;

    width: 45%;
  }

  .Current {
    margin-bottom: -2%;
    margin-left: 4%;
  }

  .Description {
    width: 50%;
    text-align: left;
    margin-left: 1%;

    @media screen and (max-width: 600px) {
      width: 100%;
    }
  }

  .Content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .Links {
    display: flex;
    text-align: right;
    margin: auto;
    flex-direction: column;
  }

  .Bands {
    margin-left: 3%;
    margin-bottom: -1%;
  }

  .SoundcloudPlayer {
    flex-direction: column;
    margin: 1rem;
  }
}

@media screen and (max-width: 600px) {
  iframe {
    width: 12rem;
    height: 12rem;
  }
}
