.AppsList {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  flex-direction: column;
  border: 1px dashed #d3455b;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;

  .Stack {
    margin-top: -1rem;
  }

  .Links {
    margin-top: -0.5rem;
  }
}
