.Apps {
  margin-right: 25%;
  margin-top: 8%;
  width: 75%;

  @media screen and (max-width: 600px) {
    margin-bottom: 20%;
    width: 100%;
    font-size: 0.75rem;

    .PageName {
      margin-top: 7rem;
      margin-bottom: -0.75rem;
    }
  }

  @media screen and (max-width: 640px) {
    font-size: 0.75rem;

    .PageName {
      margin-top: 7rem;
      margin-bottom: -0.75rem;
    }
  }

  @media screen and (max-width: 824px) {
    margin-top: 9%;
    font-size: 0.75rem;

    .PageName {
      margin-top: 8rem;
      margin-bottom: -0.75rem;
    }
  }

  @media screen and (max-width: 1024px) {
    margin-top: 8%;
    font-size: 0.75rem;

    .PageName {
      margin-bottom: -0.75rem;
    }
  }

  @media screen and (min-height: 1023px) {
    margin-top: 8%;
    font-size: 0.75rem;

    .PageName {
      margin-top: 8rem;
      margin-bottom: -0.75rem;
    }
  }

  @media screen and (max-width: 360px) {
    margin-top: 10%;
    font-size: 0.75rem;

    .PageName {
      margin-top: 7rem;
      margin-bottom: -0.75rem;
    }
  }
}
